/**/.vscode/**
/**/.idea/**
/prebuilt/**
/*ndk
/build/**
*.tar.xz
*.zip

# dynamic gen srcs
/src/dtc/dtc-lexer.c
/src/dtc/dtc-parser.c
/src/dtc/dtc-parser.h
/src/dtc/version_gen.h
/src/zlib/zconf.h
/src/erofs-utils/erofs-utils-version.h
/src/e2fsextract/version.h
/src/extras/partition_tools/dynamic_partitions_device_info.pb.cc
/src/extras/partition_tools/dynamic_partitions_device_info.pb.h
/src/puffin/src/puffin.pb.cc
/src/puffin/src/puffin.pb.h
/src/update_engine/lz4diff/lz4diff.pb.cc
/src/update_engine/lz4diff/lz4diff.pb.h
/src/update_engine/update_engine/update_metadata.pb.cc
/src/update_engine/update_engine/update_metadata.pb.h